.active{
    width: 100%;
}

#allBranch{
    min-width: 100% !important;
}

#allBranch table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
  }
  
  #allBranch td, #allBranch th {
    border: 1px solid #b8b8b8;
    padding: 8px;
  }
  
  #allBranch tr:nth-child(even){background-color: #f2f2f2;}
  
  #allBranch tr:hover {background-color: #ddd;}
  
  #allBranch tbody tr th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D !important;
    color: white;
    z-index: 9;
  }
  table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
  }
  th, td {
    padding: 0.25rem;
  }
th{
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(105, 88, 88, 0.4);
    background-color: #04AA6D !important;
    color: white;
}
tr:hover{
    /* background-color: #000000ed; */
    color: rgb(16, 0, 241);
    font-weight: bold;
    cursor: pointer;
}
